.set_container {
    margin: 20px 15px;
    background: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    overflow: auto;
    /* min-height: 300px; */
}

.item_box {
    min-height: 50px;
    overflow: auto;
}

.title_name {
    float: left;
    width: 120px;
    line-height: 34px;
}

.select_style {
    float: left;
    padding-left: 8px;
    width: 300px;
    height: 34px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
}

.select_box {
    position: absolute;
    background: #fff;
    width: 300px;
    top: 35px;
    left: 0;
    border: 1px solid #999;
    height: 100px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.zone_box {
    float: left;
    position: relative;
}

.zone_item_li {
    cursor: pointer;

}

.zone_item_li:hover {
    background: #3c8dbc;
    color: #fff
}

.zone_item_li:active {
    background: #3c8dbc;
}

.box_item_addr {
    float: left;
}

.input_list_box {
    margin-bottom: 10px;
    overflow: auto;
}

.addr_icon {
    margin-left: 8px;
    margin-top: 8px;
    width: 20px;
    cursor: pointer;
}

.background {
    background: rgba(153, 153, 153, .5);
    color: #333;
}