<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a class="navbar-brand text-lt">
        <!-- <i class="fa fa-btc"></i> -->
        <img src="../../src/images/icos/logo.png" alt="." style="display: inline-block">
        <span class="hidden-folded m-l-xs">{{app.title}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
        <!-- <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a> -->
    </div>
    <ul class="nav navbar-nav navbar-right">
        <!-- 全屏 -->
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <!-- 个人中心 -->
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <!-- <img src="img/a0.jpg" alt="..."> -->
                    <!-- <i class="on md b-white bottom"></i> -->
                </span>
                <span class="hidden-sm hidden-md" ng-bind="user_name">admin</span>
                <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ng-click="change_password('lg')">修改密码</a>
                </li>
                <li>
                    <a ng-click="sign_out()">退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- / navbar collapse -->
<script type="text/ng-template" id="modal.html">
    <div style="border-radius:10px;">
        <div class="modal-header" style="border-radius:10px;">
            <h3 class="modal-title" align="left">
                重置密码
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label" style="max-width:100px">旧的密码：</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" style="width:200px" placeholder=" " ng-model="data.old">
                </div>
            </div>
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label" style="max-width:100px">设置密码：</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control " style="width:200px" placeholder="" ng-model="data.new">
                </div>
            </div>
            <p style="padding-left:16px;color:#666">请填写 <span ng-bind="pwdLength.min_passwd_len"></span> - <span ng-bind="pwdLength.max_passwd_len"></span> 位密码,包含大写字母、小写字母、数字、特称字符</p>
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label"  style="max-width:100px">确认密码</label>
                <div class="col-sm-3">
                    <input type="password"  class="form-control" style="width:200px" placeholder=" " ng-model="data.repeat">
                </div>
            </div>
        </div>
        <div class="modal-footer row" >
            <button class="btn btn-primary col-md-1 col-md-offset-5" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning col-md-1 col-md-offset-6" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="passwdRegular.html">
    <div style="border-radius:10px;">
        <div class="modal-header" style="border-radius:10px;">
            <h3 class="modal-title" align="left">
                重置密码
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label" style="max-width:100px">旧的密码：</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" style="width:200px" placeholder=" " ng-model="data.old">
                </div>
            </div>
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label" style="max-width:100px">设置密码：</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control " style="width:200px" placeholder="" ng-model="data.new">
                </div>
            </div>
            <p style="padding-left:16px;color:#666">请填写 <span ng-bind="pwdLength.min_passwd_len"></span> - <span ng-bind="pwdLength.max_passwd_len"></span> 位密码,包含大写字母、小写字母、数字、特称字符</p>
            <div class="form-group row item_form">
                <label for="host" class="col-sm-2 control-label"  style="max-width:100px">确认密码</label>
                <div class="col-sm-3">
                    <input type="password"  class="form-control" style="width:200px" placeholder=" " ng-model="data.repeat">
                </div>
            </div>
        </div>
        <div class="modal-footer row" >
            <button class="btn btn-primary col-md-1 col-md-offset-5" ng-click="ok()">
                确认
            </button>
        </div>
    </div>
</script>