<div class="container w-xxl w-auto-xs" ng-cloak ng-controller="SigninFormController"
    ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t head-title">{{ app.name }}</a>
    <p class="head_subtitle">ThreatEye Advanced Threat Detection System</p>
    <div class="m-b-lg">
        <!-- 已注册 -->
        <form name="form" class="form-validation" ng-if="!login_show">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="请输入用户名" class="form-control no-border" autofocus="autofocus"
                        ng-focus="focusInput()" ng-model="user.username" required />
                </div>
                <div class="space">
                    <span ng-bind="msg_error" class="error_info_signin"> </span>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="请输入密码" class="form-control no-border" ng-focus="focusInput()"
                        ng-model="user.password" required />
                </div>
                <div class="space">
                    <!-- <span ng-bind="msg_error" class="error_info_signin"> </span> -->
                </div>
                <div class="list-group-item" style="width: 50% ;position: relative"
                    ng-class="{true:'code_class',fasle:''}[code_error]">
                    <input type="text" class="form-control no-border" ng-focus="focusInput()"
                        ng-model="user.inputNumCode" placeholder="请输入验证码" />
                    <div id="verificationCode" class="verificationCode">
                        <canvas width="100" height="40" id="verifyCanvas"></canvas>
                        <img id="code_img" />
                    </div>
                </div>
                <div class="space">
                    <span ng-bind="code_error_msg" class="error_info_signin"> </span>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block btn_style" ng-click="login()"
                ng-disabled="form.$invalid">
                登 录
            </button>
        </form>
        <!-- 未注册 -->
        <form name="form" class="form-validation" ng-if="login_show">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="用户名" maxlength="16" class="form-control no-border"
                        ng-model="creat.username" required />
                </div>
                <div class="space"></div>
                <div class="list-group-item">
                    <input type="password" placeholder="密码" ng-change="change_passwd()" ng-focus="passwd_focus()"
                        ng-blur="passwd_blur()" maxlength="30" class="form-control no-border" ng-model="creat.password"
                        required />
                    <div class="tooltip_pop" ng-if="tooltip_pop_if">
                        <div class="d3">
                        </div>
                        <div>
                            <p>
                                <img ng-if="pwsd_check.length" src="../src/images/login/success.png" alt="">
                                <img ng-if="!pwsd_check.length" src="../src/images/login/error.png" alt="">
                                <span>长度为</span>
                                <span>{{passwd.min}}</span>
                                <span>-</span>
                                <span>{{passwd.max}}</span>
                                <span>个字符</span>
                            </p>
                            <p>
                                <img ng-if="pwsd_check.reg" src="../src/images/login/success.png" alt="">
                                <img ng-if="!pwsd_check.reg" src="../src/images/login/error.png" alt="">
                                <span>包含数字、大小写字母及特殊字符</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="list-group-item">
                    <input type="password" placeholder="确认密码" maxlength="30" class="form-control no-border"
                        ng-model="creat.repassword" required />
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block btn_style" ng-click="creat_admin()"
                ng-disabled="form.$invalid">
                创建管理员
            </button>
        </form>
    </div>

    <div id="particles-js"></div>
    <div class="hoohoolab-footer-login">
        <!-- <span>&copy; 2019 虎特信息科技(上海)有限公司 版权所有</span> -->
        <span>&copy; 2019 中国电子科技网络信息安全有限公司 版权所有</span>
    </div>
    <!-- <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div> -->
</div>