.input_radius{
    border-radius: 3px;
}
.td_content{
    overflow: hidden;
    
}
.download_relative{
    position: relative;
}
.download_position{
    padding-top: 40px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
