<div class="set" ng-controller="Set_userController" ng-init="app.settings.container = false;" ng-cloak>
    <!-- Main content -->
    <div class="row">
        <div class="col-md-12 ">
            <div class="set_content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                        </div>
                        <div class="box-header with-border" style="border:0">
                            <ul id="myTab" class="nav nav-tabs" ng-init="selected == 0">
                                <li ng-class="{'active':selected == $index}" ng-click="show($index)"
                                    ng-repeat="item in tab_data">
                                    <a data-toggle="tab">
                                        <span ng-bind="item.name"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 用户管理 -->
                        <div id="myTabContent" class="tab-content" ng-if="selected == 0">
                            <div class="form-group col-md-2 col-md-offset-10 form_class add_button">
                                <button class="form-control btn btn-primary" style="max-width: 93px;margin-top: 3px;"
                                    ng-click="add()">添加用户</button>
                            </div>
                            <div class="tab-pane fade in active">
                                <div class="box-body">
                                    <table class="table table-hover  ng-cloak" ng-show="pages.data.length>0">
                                        <tr>
                                            <th style="width:50px">序号</th>
                                            <th style="width:150px">用户名</th>
                                            <th style="width:150px">角色</th>
                                            <th>管理IP</th>
                                            <th style="width:150px">创建人</th>
                                            <th style="width:150px">创建时间</th>
                                            <th style="width:80px">操作</th>
                                        </tr>
                                        <tr style="cursor: pointer;" ng-repeat="item in pages.data">
                                            <td style="text-align: center;" ng-bind="$index + 1 + index_num">1</td>
                                            <td ng-bind="item.username" title="{{item.username}}">admin</td>
                                            <td ng-bind="item.role" title="{{item.role}}">admin</td>
                                            <td ng-bind="item.allow" title="{{item.allow}}"> </td>
                                            <td ng-bind="item.creatorname" title="{{item.creatorname}}"></td>
                                            <td ng-bind="item.created_at*1000 | date:'yyyy-MM-dd HH:mm'"></td>
                                            <td class="cursor">&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-default"
                                                    ng-click="del(item);$event.stopPropagation();" data-toggle="tooltip"
                                                    title="删除用户">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                                <button class="btn btn-xs btn-default"
                                                    ng-click="resetPassword(item);$event.stopPropagation();"
                                                    data-toggle="tooltip" title="重置密码">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- angularjs分页 -->
                                    <div style="border-top: 1px solid #f4f4f4;padding: 10px;min-height: 20px;">
                                        <em>共有
                                            <span ng-bind="pages.count"></span>条</em>
                                        <!-- angularjs分页 -->
                                        <ul class="pagination pagination-sm no-margin pull-right ng-cloak">
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage(pages.pageNow-1)"
                                                    ng-if="pages.pageNow>1">上一页</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(1)"
                                                    ng-if="pages.pageNow>1">1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-if="pages.pageNow>4">...</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.pageNow-2)"
                                                    ng-bind="pages.pageNow-2" ng-if="pages.pageNow>3"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.pageNow-1)"
                                                    ng-bind="pages.pageNow-1" ng-if="pages.pageNow>2"></a>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:void(0);" ng-bind="pages.pageNow"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.pageNow+1)"
                                                    ng-bind="pages.pageNow+1" ng-if="pages.pageNow<pages.maxPage-1"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.pageNow+2)"
                                                    ng-bind="pages.pageNow+2" ng-if="pages.pageNow<pages.maxPage-2"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);"
                                                    ng-if="pages.pageNow<pages.maxPage-3">...</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.maxPage)"
                                                    ng-bind="pages.maxPage" ng-if="pages.pageNow<pages.maxPage"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="getPage0(pages.pageNow+1)"
                                                    ng-if="pages.pageNow<pages.maxPage">下一页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 角色管理 -->
                        <div id="role" class="tab-content" ng-if="selected == 1">
                            <div class="form-group col-md-2 col-md-offset-10 form_class add_button">
                                <button class="form-control btn btn-primary" style="max-width: 93px;margin-top: 3px;"
                                    ng-click="addRoles()">添加角色</button>
                            </div>
                            <div class="tab-pane fade in active">
                                <div class="box-body">
                                    <table class="table table-hover  ng-cloak" ng-show="roleList.length>0">
                                        <tr>
                                            <th>名称</th>
                                            <th>描述</th>
                                            <th>创建时间</th>
                                            <th>创建人</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr style="cursor: pointer;" ng-repeat="item in roleList">
                                            <td ng-bind="item.name"></td>
                                            <td ng-bind="item.description"></td>
                                            <td ng-bind="item.created_at*1000 | date:'yyyy-MM-dd HH:mm'"></td>
                                            <td ng-bind="item.creatorname"></td>
                                            <td class="cursor">
                                                <div
                                                    ng-if="item.name !='admin'&&item.name !='config'&&item.name !='audit'">
                                                    &nbsp;&nbsp;
                                                    <button class="btn btn-xs btn-default"
                                                        ng-click="delRole(item);$event.stopPropagation();"
                                                        data-toggle="tooltip" title="删除角色">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                    <button class="btn btn-xs btn-default"
                                                        ng-click="modRole(item);$event.stopPropagation();"
                                                        data-toggle="tooltip" title="修改角色">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- angularjs分页 -->
                                    <div style="border-top: 1px solid #f4f4f4;padding: 10px;min-height: 20px;">
                                        <em>共有
                                            <span ng-bind="roleList.length"></span>条</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 用户安全策略 -->
                        <div id="strategy" class="tab-content" ng-if="selected == 2">
                            <div style="padding: 20px">
                                <div class="strategy_item">
                                    <span class="strategy_label">状态</span>
                                    <input name='type' type='radio' id="type_true" ng-checked="strategy == '1'"
                                        ng-click="strategyChange('1')" style="margin: 4px 4px 4px 15px" />
                                    <label for="isadmin">启用</label>
                                    <input name='type' type='radio' id="type_false" ng-checked="strategy == '0'"
                                        ng-click="strategyChange('0')" style="margin: 4px 4px 4px 15px" />
                                    <label for="isadmin">停用</label>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">密码长度最小值</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.minPasswd">
                                    <span>密码最小长度8-11之间包含大小写字母和数字</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">密码长度最大值</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.maxPasswd">
                                    <span>密码最大长度11-30之间包含大小写字母和数字</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">密码定期修改时间</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.passwdRegular">
                                    <span>（1-90）天</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">管理员最大登录重试次数</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.adminFaildLogon">
                                    <span>（1-5）次</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">管理员登录失败阻断时间</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.adminLogonDelay">
                                    <span>（1-3600）秒</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">页面超时时间</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.sessionTimeout">
                                    <span>（1-480）分钟</span>
                                </div>
                                <div class="strategy_item">
                                    <span class="strategy_label">管理员同时在线数</span>
                                    <input type="number" class="strategy_number" ng-disabled="policy.disabled"
                                        ng-blur="strategy_num_test()" ng-model="policy.adminOnlineCount">
                                    <span>（1-5）个</span>
                                </div>
                            </div>
                        </div>
                        <!-- 添加用户 -->
                        <div style="display: none;" id="hideenBox">
                            <div id="newUser">
                                <form>
                                    <div class="box-body">
                                        <div class=" {{nameerror ? 'has-error':''}}">
                                            <label for="InputVersion">用户名：</label>
                                            <input class="form-control" ng-model="newUser.username">
                                            <p class="help-block">请填写用户名</p>
                                        </div>
                                        <div class=" {{passworderror ? 'has-error':''}}">
                                            <label for="InputVersion">设置密码：</label>
                                            <input type="password" class="form-control" ng-model="newUser.password">
                                            <p class="help-block">请填写 <span ng-bind="pwdLength.min_passwd_len"></span>
                                                - <span ng-bind="pwdLength.max_passwd_len"></span>
                                                位密码,包含大写字母、小写字母、数字、特殊字符</p>
                                        </div>
                                        <div class="form-group {{repassworderror ? 'has-error':''}}">
                                            <label for="InputVersion">确认密码：</label>
                                            <input type="password" class="form-control" ng-model="newUser.repassword">
                                            <p class="help-block" ng-bind="repassworderror ? '密码不一致' : '　'"></p>
                                        </div>
                                        <div>
                                            <span>角色：</span>
                                            <span ng-repeat="item in addRoleList">
                                                <input type='radio' value="{{item.name}}" ng-model="$parent.selectValue"
                                                    style="margin: 4px 4px 4px 15px" />
                                                <span>{{item.name}}</span>
                                            </span>
                                        </div>
                                        <div style="margin-top:20px;">
                                            <label for="InputVersion">管理员IP</label>
                                            <input class="form-control"
                                                placeholder='最多5个单IP/IP网段，用";"隔开，网段为CIDR格式(192.168.1.0/24)'
                                                ng-model="newUser.allow_ip">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- 修改用户 -->
                            <div id="resetPassword">
                                <div class="box-body">
                                    <div class=" {{resetUser_passworderror ? 'has-error':''}}">
                                        <label for="InputVersion">设置密码：</label>
                                        <input type="password" class="form-control" ng-model="resetUser.password">
                                        <p class="help-block">请填写 <span ng-bind="pwdLength.min_passwd_len"></span> -
                                            <span ng-bind="pwdLength.max_passwd_len"></span> 位密码,包含大写字母、小写字母、数字、特殊字符</p>
                                    </div>
                                    <div class=" {{resetUser_repassworderror ? 'has-error':''}}">
                                        <label for="InputVersion">确认密码：</label>
                                        <input type="password" class="form-control" ng-model="resetUser.repassword">
                                        <p class="help-block" ng-bind="resetUser_repassworderror ? '密码不一致' : '　'"></p>
                                    </div>
                                    <div>
                                        <span>角色：</span>
                                        <span ng-repeat="item in resetRoleList">
                                            <input type='radio' value="{{item.name}}"
                                                ng-model="$parent.resetSelectValue" style="margin: 4px 4px 4px 15px" />
                                            <span>{{item.name}}</span>
                                        </span>
                                    </div>
                                    <div>
                                        <label for="InputVersion">管理员IP</label>
                                        <input class="form-control"
                                            placeholder='最多5个单IP/IP网段，用";"隔开，网段为CIDR格式(192.168.1.0/24)'
                                            ng-model="resetUser.allow_ip">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 添加角色 -->
                        <div style="display: none;" id="hideenroleBox">
                            <div id="newRole" style="padding-left: 20px">
                                <div class="addrole_item">
                                    <span class="marigin_name">用户名称</span>
                                    <input type="text" class="addrole_input" ng-model="addRole.name">
                                </div>
                                <div class="addrole_item" style="height: 280px;">
                                    <div style="display: inline-block">
                                        <span class="marigin_name">角色权限</span>
                                    </div>
                                    <div class="select_todolist">
                                        <div ng-repeat="todotype in todolist">
                                            <div class="" style="display: flex;">
                                                <div class=""
                                                    style="width: 90px;padding: 1px 5px;line-height: 25px;height: 28px;border-radius: 3px">
                                                    <input style="margin-bottom: 8px;" type="checkbox"
                                                        ng-model="$parent.selectAll[$index]"
                                                        ng-click="changeAll($index)" />
                                                    <span style="font-weight: 600;">
                                                        {{todotype.type}}
                                                    </span>
                                                </div>
                                                <div class="" style="padding-left: 5px;width: 100%;">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2"
                                                            ng-repeat="obj in todolist[$index].permissionList"
                                                            style="margin-bottom: 5px;padding: 2px;width: 110px;">
                                                            <input type="checkbox" ng-click="funcChange($parent.$index)"
                                                                ng-model="obj.isSelected" />
                                                            <span
                                                                style="line-height: 25px;width: 80px;">{{obj.name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addrole_item">
                                    <span class="marigin_name">角色描述</span>
                                    <textarea rows="5" cols="40" maxlength="200" ng-model="addRole.description"
                                        onchange="this.value=this.value.substring(0, 200)"
                                        onkeydown="this.value=this.value.substring(0, 200)"
                                        onkeyup="this.value=this.value.substring(0, 200)" class="role_textarea">
                                   </textarea>
                                </div>

                            </div>
                        </div>
                        <!-- 修改角色 -->
                        <div style="display: none;" id="modRoleBox">
                            <div id="modRole" style="padding-left: 20px">
                                <div class="addrole_item">
                                    <span class="marigin_name">用户名称</span>
                                    <input type="text" class="addrole_input" ng-model="mod_role.name">
                                </div>
                                <div class="addrole_item" style="height: 280px;">
                                    <div style="display: inline-block">
                                        <span class="marigin_name">角色权限</span>
                                    </div>

                                    <div class="select_todolist">
                                        <div ng-repeat="todotype in todolist">
                                            <div class="" style="display: flex;">
                                                <div class=""
                                                    style="width: 90px;padding: 1px 5px;line-height: 25px;height: 28px;border-radius: 3px">
                                                    <input style="margin-bottom: 8px;" type="checkbox"
                                                        ng-model="$parent.selectAll[$index]"
                                                        ng-click="changeAll($index)" />
                                                    <span style="font-weight: 600;">
                                                        {{todotype.type}}
                                                    </span>
                                                </div>
                                                <div class="" style="padding-left: 5px;width: 100%;">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2"
                                                            ng-repeat="obj in todolist[$index].permissionList"
                                                            style="margin-bottom: 5px;padding: 2px;width: 110px;">
                                                            <input type="checkbox" ng-click="funcChange($parent.$index)"
                                                                ng-model="obj.isSelected" />
                                                            <span
                                                                style="line-height: 25px;width: 80px;">{{obj.name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addrole_item">
                                    <span class="marigin_name">角色描述</span>
                                    <textarea rows="5" cols="40" maxlength="200" ng-model="mod_role.description"
                                        onchange="this.value=this.value.substring(0, 200)"
                                        onkeydown="this.value=this.value.substring(0, 200)"
                                        onkeyup="this.value=this.value.substring(0, 200)" class="role_textarea">
                                   </textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>